<%- include('../../fragments/header.ejs') %>

    <main>
        <h2 class="page-title">Lista wizyt</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>ID wizyta</th>                  
                    <th>leczenie</th>
                    <th>objawy</th>
                    <th>Data wizyty</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let wizyta of wizyty) { %>

            <tr>


                <td><%= wizyta.id_wizyta %></td>
                <td><%= wizyta.leczenie %></td>
                <td><%= wizyta.objawy %></td>
                <td><%= wizyta.data_wizyty %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="/appointment/details/<%= wizyta.id_wizyta %>">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="/appointment/edit/<%= wizyta.id_wizyta %>">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="/appointment/delete/<%= wizyta.id_wizyta %>">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>

            </tbody>
        </table>
        <div>
            <a class="button-add" href="/appointment/add">Dodaj nowa wizyte</a>
        </div>
    </main>

<%- include('../../fragments/footer.ejs') %>
