<%- include('../../fragments/header.ejs') %>

    <script type="application/javascript" src="/js/validationAddDoctorForm.js"></script>

    <main>
        <form class="form-register" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <label class="form-main-label"><%= pageTitle %></label>
            <input type="hidden" name="id_lekarz" value="<%= lekarz.id_lekarz %>">
            <div>
                <label for="imie">Imie:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="imie" id="imie" placeholder="2-60 do znaków" value="<%= lekarz.imie %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('imie')) ? 'error-input' : '' %>"/>
                <span id="errorImie" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('imie'))) { %>
                        <%= validationErrors.find(e => e.path.includes('imie')).message %>
                    <% } %>
                </span>

                <label for="nazwisko">Nazwisko:<abbr>*</abbr></label>
                <input type="text" name="nazwisko" id="nazwisko" placeholder="2-60 do znaków" value="<%= lekarz.nazwisko %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('nazwisko')) ? 'error-input' : '' %>"/>
                <span id="errorNazwisko" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('nazwisko'))) { %>
                        <%= validationErrors.find(e => e.path.includes('nazwisko')).message %>
                    <% } %>
                </span>

                <label for="tytul">Tytuł:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (formMode ==  'showDetails') { %>
                    <input id="tytul" name="tytul" value="<%= lekarz.tytul %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>></input>
                <%} else if (formMode ==  'edit'){ %>
                    <input id="tytul" name="tytul" value="<%= lekarz.tytul %>"></input>
                <%} else {%>
                    <input id="tytul" name="tytul"></input>
                <% } %>
                <span id="errorTytul" class="errors-text" value="<%= lekarz.tytul %>">
                    <% if (validationErrors.find(e => e.path.includes('tytul'))) { %>
                        <%= validationErrors.find(e => e.path.includes('tytul')).message %>
                    <% } %>
                </span>

                <label for="specjalizacja">Specjalizacja:<abbr>*</abbr></label>
                <input type="text" name="specjalizacja" id="specjalizacja" placeholder="5-60 do znaków" value="<%= lekarz.specjalizacja %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('specjalizacja')) ? 'error-input' : '' %>"/>
                <span id="errorSpecjalizacja" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('specjalizacja'))) { %>
                        <%= validationErrors.find(e => e.path.includes('specjalizacja')).message %>
                    <% } %>
                </span>

                <label for="oddzial">Oddzial:<abbr>*</abbr></label>
                <input type="text" name="oddzial" id="oddzial" placeholder="2-50 do znaków" value="<%= lekarz.oddzial %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('oddzial')) ? 'error-input' : '' %>"/>
                <span id="errorOddzial" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('oddzial'))) { %>
                        <%= validationErrors.find(e => e.path.includes('oddzial')).message %>
                    <% } %>
                </span>

                <label for="email">Email:<abbr>*</abbr></label>
                <input type="text" name="email" id="email" placeholder="2-50 do znaków" value="<%= lekarz.email %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"/>
                <span id="errorEmail" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                        <%= validationErrors.find(e => e.path.includes('email')).message %>
                    <% } %>
                </span>

                <% if(loggedUser) { %>
                    <label for="haslo">Haslo:<abbr>*</abbr></label>
                    <input type="password" name="haslo" id="haslo" placeholder="2-50 do znaków" value="<%= lekarz.haslo %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('haslo')) ? 'error-input' : '' %>"/>
                    <span id="errorHaslo" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('haslo'))) { %>
                            <%= validationErrors.find(e => e.path.includes('haslo')).message %>
                        <% } %>
                    </span>
                <% } %>

                <% if(loggedUser) { %>
                    <% if (formMode == 'showDetails') { %>
                        <a class="form-button-submit" href="/doctor/edit/<%= lekarz.id_lekarz %>">Edytuj</a>
                    <% } %>
                <% } %>

                    <p id="errorsSummary" class="errors-text"></p>
                    <% if (formMode != 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-clean" href="/doctor">Anuluj</a>
                    <% } else { %>
                        <a class="form-button-clean" href="/doctor">Powrót</a>
                    <% } %>
                </div>
   </form>





    </main>

   <%- include('../../fragments/footer.ejs') %>
