<%- include('../../fragments/header.ejs') %>

    <main>
        <h2 class="page-title">Kadra lekarska</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let lekarz of lekarze) { %>
                <tr>
                    <td><%= lekarz.imie %></td>
                    <td><%= lekarz.nazwisko %></td>
                    <td><%= lekarz.email %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="/doctor/details/<%=lekarz.id_lekarz%>">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="/doctor/edit/<%=lekarz.id_lekarz%>">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="/doctor/delete/<%=lekarz.id_lekarz%>">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <div>
            <a class="button-add" href="/doctor/add">Dodaj nowego lekarza</a>
        </div>
    </main>

<%- include('../../fragments/footer.ejs') %>