<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System zarzadzania wizytami</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>
<body>
    <header>
        <div class="top-banner-menu">
            <div class="logo-text-menu">
                <a href="\">System zarzadzania wizytami</a>
            </div>
            <nav class="nav-menu">
                <ul>
                    <% if(loggedUser) { %>
                        <li class="basic-li"><a href="\" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona glowna</a></li>
                        <li class="basic-li"><a href="\patient" class="<%= navLocation == 'pacjent' ? 'active' : ''%>">Pacjenci</a></li>
                        <li class="basic-li"><a href="\doctor" class="<%= navLocation == 'lekarz' ? 'active' : ''%>">Lekarze</a></li>
                        <li class="basic-li"><a href="\appointment" class="<%= navLocation == 'wizyta' ? 'active' : ''%>">Wizyty</a></li>
                        <li class="language-list">
                            <div>
                                <select id="language" class="language-list-option">
                                    <option value="PL">PL</option>
                                    <option value="EN">EN</option>
                                </select>
                            </div>
                        </li>
                    <% } else { %>
                        <li class="basic-li"><a href="\" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona glowna</a></li>
                        <li class="basic-li"><a href="\doctor" class="<%= navLocation == 'lekarz' ? 'active' : ''%>">Lekarze</a></li>
                        <li class="language-list">
                            <div>
                                <select id="language" class="language-list-option">
                                    <option value="PL">PL</option>
                                    <option value="EN">EN</option>
                                </select>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <div class="social-media-button-menu">
                <a href="https://pl-pl.facebook.com/"><img src="/images/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/"><img src="/images/instagram.png" alt="instagram"></a>
                <a href="https://pl.linkedin.com/"><img src="/images/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/?lang=pl"><img src="/images/twitter.png" alt="twitter"></a>
            </div>
            <nav class="nav2-menu">
                <ul>
                    <% if(loggedUser) { %>
                        <li><a class="a-login" href="/logout">Wyloguj się</a></li>
                        <li><a class="a-register" href="\patient\register">Utworz nowe konto</a></li>
                    <% } else { %>
                        <li><a class="a-login" href="/doctor/login">Zaloguj się</a></li>
                        <li><a class="a-register" href="\patient\register">Utworz nowe konto</a></li>
                    <% } %>

                </ul>
            </nav>
        </div>
    </header>