<%- include('../../fragments/header.ejs') %>
    
    <script type="application/javascript" src="/js/validationRegisterForm.js"></script>

    <main>
        <form class="form-register" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <label class="form-main-label"><%= pageTitle %></label>
            <input type="hidden" name="id_pacjent" value="<%= pacjent.id_pacjent %>">
            <div>
                <label for="imie">Imie:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="imie" id="imie" placeholder="2-60 do znaków" value="<%= pacjent.imie %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('imie')) ? 'error-input' : '' %>"/>
                <span id="errorImie" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('imie'))) { %>
                        <%= validationErrors.find(e => e.path.includes('imie')).message %>
                    <% } %>
                </span>

                <label for="nazwisko">Nazwisko:<abbr>*</abbr></label>
                <input type="text" name="nazwisko" id="nazwisko" placeholder="2-60 do znaków" value="<%= pacjent.nazwisko %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('nazwisko')) ? 'error-input' : '' %>"/>
                <span id="errorNazwisko" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('nazwisko'))) { %>
                        <%= validationErrors.find(e => e.path.includes('nazwisko')).message %>
                    <% } %>
                </span>

                <label for="pesel">PESEL<abbr>*</abbr></label>
                <input type="text" name="pesel" id="pesel" value="<%= pacjent.pesel %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('pesel')) ? 'error-input' : '' %>"/>
                <span id="errorPesel" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('pesel'))) { %>
                        <%= validationErrors.find(e => e.path.includes('pesel')).message %>
                    <% } %>
                </span>

                <label for="email">E-mail:<abbr>*</abbr></label>
                <input type="email" name="email" id="email" placeholder="np. nazwa@domena.pl" value="<%= pacjent.email %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"/>
                <span id="errorEmail" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                        <%= validationErrors.find(e => e.path.includes('email')).message %>
                    <% } %>
                </span>

                <label for="telefon">Telefon:<abbr>*</abbr></label>
                <input type="text" name="telefon" id="telefon" placeholder="9 cyfr" value="<%= pacjent.telefon %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('telefon')) ? 'error-input' : '' %>"/>
                <span id="errorTelefon" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('telefon'))) { %>
                        <%= validationErrors.find(e => e.path.includes('telefon')).message %>
                    <% } %>
                </span>

                <label for="kod_pocztowy">Kod pocztowy:<abbr>*</abbr></label>
                <input type="text" name="kod_pocztowy" id="kod_pocztowy" placeholder="np. 00-111" value="<%= pacjent.kod_pocztowy %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('kod_pocztowy')) ? 'error-input' : '' %>"/>
                <span id="errorKod_pocztowy" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('kod_pocztowy'))) { %>
                        <%= validationErrors.find(e => e.path.includes('kod_pocztowy')).message %>
                    <% } %>
                </span>

                <label for="miasto">Miasto:<abbr>*</abbr></label>
                <input type="text" name="miasto" id="miasto" value="<%= pacjent.miasto %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('miasto')) ? 'error-input' : '' %>"/>
                <span id="errorMiasto" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('miasto'))) { %>
                        <%= validationErrors.find(e => e.path.includes('miasto')).message %>
                    <% } %>
                </span>

                <label for="ulica">Ulica:<abbr>*</abbr></label>
                <input type="text" name="ulica" id="ulica" value="<%= pacjent.ulica %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('ulica')) ? 'error-input' : '' %>"/>
                <span id="errorUlica" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('ulica'))) { %>
                        <%= validationErrors.find(e => e.path.includes('ulica')).message %>
                    <% } %>
                </span>

                <label for="password">Haslo:<abbr>*</abbr></label>
                <input type="text" name="password" id="password" value="<%= pacjent.password %>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : '' %>"/>
                <span id="errorHaslo" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                        <%= validationErrors.find(e => e.path.includes('password')).message %>
                    <% } %>
                </span>

                <p id="errorsSummary" class="errors-text"></p>

                <% if (formMode == 'showDetails') { %>
                    <a class="form-button-submit" href="/patient/edit/<%= pacjent.id_pacjent %>">Edytuj</a>
                <% } %>

                <div class="form-buttons">
                    <p id="errorsSummary" class="errors-text"></p>
                    <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-clean" href="/patient">Anuluj</a>
                    <% } else { %>
                        <a class="form-button-clean" href="/patient">Powrót</a>
                    <% } %>
                </div>
            </div>



        </form>

    </main>

<%- include('../../fragments/footer.ejs') %>
