<%- include('../../fragments/header.ejs') %>


    <main>
        <h2 class="page-title">Lista pacjentow</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>PESEL</th>
                    <th>telefon</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let pacjent of pacjenci) { %>
                <tr>
                    <td><%= pacjent.id_pacjent %></td>
                    <td><%= pacjent.imie %></td>
                    <td><%= pacjent.nazwisko %></td>
                    <td><%= pacjent.pesel %></td>
                    <td><%= pacjent.telefon %></td>
                    <td>
                        <ul class="list-actions">
                            <% if(loggedUser) { %>
                                <% if(loggedUser.tytul == 'Profesor') { %>
                                    <li>
                                        <a class="list-actions-button-details" href="/patient/details/<%=pacjent.id_pacjent%>">Szczegoly</a>
                                    </li>
                                    <li>
                                        <a class="list-actions-button-edit" href="/patient/edit/<%=pacjent.id_pacjent%>">Edytuj</a>
                                    </li>
                                    <li>
                                        <a class="list-actions-button-delete" href="/patient/delete/<%=pacjent.id_pacjent%>">Usun</a>
                                    </li>
                                <% } else { %>
                                    <li>
                                        <a class="list-actions-button-details" href="/patient/details/<%=pacjent.id_pacjent%>">Szczegoly</a>
                                    </li>
                                    <li>
                                        <a class="list-actions-button-edit" href="/patient/edit/<%=pacjent.id_pacjent%>">Edytuj</a>
                                    </li>
                                <% } %>
                            <% } else { %>
                                <li>
                                    <a class="list-actions-button-details" href="/patient/details/<%=pacjent.id_pacjent%>">Szczegoly</a>
                                </li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <div>
            <a class="button-add" href="/patient/add">Dodaj nowego pacjenta</a>
        </div>
    </main>

<%- include('../../fragments/footer.ejs') %>
